<h1>
  List line #<%= @the_list_line.id %> details
</h1>

<article>
  <div>
    <a href="/list_lines">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_list_line/<%= @the_list_line.id %>">
      Delete list line
    </a>
  </div>
  <dl>
    <dt>
      Ingredient
    </dt>
    <dd>
      <%= @the_list_line.ingredient_id %>
    </dd>

    <dt>
      List
    </dt>
    <dd>
      <%= @the_list_line.list_id %>
    </dd>

    <dt>
      Quantity
    </dt>
    <dd>
      <%= @the_list_line.quantity %>
    </dd>

    <dt>
      Quantity unit
    </dt>
    <dd>
      <%= @the_list_line.quantity_unit %>
    </dd>

    <dt>
      Notes
    </dt>
    <dd>
      <%= @the_list_line.notes %>
    </dd>

    <dt>
      In stock flag
    </dt>
    <dd>
      <%= @the_list_line.in_stock_flag %>
    </dd>

    <dt>
      In cart flag
    </dt>
    <dd>
      <%= @the_list_line.in_cart_flag %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_list_line.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_list_line.updated_at) %> ago
    </dd>
  </dl>
</article>

<hr>


<article>
  <header>
    <h2>
      Edit list line
    </h2>
  </header>

  <form action="/modify_list_line/<%= @the_list_line.id %>"  method="post" >
    <div>
      <label for="ingredient_id_box">
        Ingredient
      </label>

      <input type="text" id="ingredient_id_box" name="query_ingredient_id" value="<%= @the_list_line.ingredient_id %>">
    </div>

    <div>
      <label for="list_id_box">
        List
      </label>

      <input type="text" id="list_id_box" name="query_list_id" value="<%= @the_list_line.list_id %>">
    </div>

    <div>
      <label for="quantity_box">
        Quantity
      </label>

      <input type="text" id="quantity_box" name="query_quantity" value="<%= @the_list_line.quantity %>">
    </div>

    <div>
      <label for="quantity_unit_box">
        Quantity unit
      </label>

      <input type="text" id="quantity_unit_box" name="query_quantity_unit" value="<%= @the_list_line.quantity_unit %>">
    </div>

    <div>
      <label for="notes_box">
        Notes
      </label>

      <input type="text" id="notes_box" name="query_notes" value="<%= @the_list_line.notes %>">
    </div>

    <div>
      <label for="in_stock_flag_box">
        In stock flag
      </label>

      <input type="text" id="in_stock_flag_box" name="query_in_stock_flag" value="<%= @the_list_line.in_stock_flag %>">
    </div>

    <div>
      <label for="in_cart_flag_box">
        In cart flag
      </label>

      <input type="text" id="in_cart_flag_box" name="query_in_cart_flag" value="<%= @the_list_line.in_cart_flag %>">
    </div>

    <button type="submit">
      Update list line
    </button>
  </form>
</article>

<hr>
