<h1>
  <%= @the_recipe.name %> recipe details
</h1>

<article>
  <div>
    <a href="/recipes">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_recipe/<%= @the_recipe.id %>">
      Delete recipe
    </a>
  </div>
  <dl>
    <dt>
      Name
    </dt>
    <dd>
      <%= @the_recipe.name %>
    </dd>

    <dt>
      Description
    </dt>
    <dd>
      <%= @the_recipe.description %>
    </dd>

    <dt>
      User
    </dt>
    <dd>
      <%= @the_recipe.user_id %>
    </dd>

    <dt>
      Recipe lines count
    </dt>
    <dd>
      <%= @the_recipe.recipe_lines_count %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_recipe.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_recipe.updated_at) %> ago
    </dd>
  </dl>
</article>

<hr>

<article>
  <header>
    <h2>
      Add ingredients to recipe
    </h2>
  </header>

  <form action="/insert_recipe_line"  method="post" >
    <div>
      <label for="ingredient_field">
        Ingredient
      </label>

      <select id="ingredient_field" name="query_ingredient_id">
        <% Ingredient.all.each do |an_ingredient| %>
          <option value="<%= an_ingredient.id %>">
            <%= an_ingredient.name %>
          </option>
        <% end %>
      </select>
    </div>

    <div>
      <label for="quantity_field">
        Quantity
      </label>
      <input id="quantity_field" type="text" name="query_quantity">
    </div>

    <div>
      <label for="quantity_unit_field">
        Quantity Units
      </label>
      <input id="quantity_unit_field" type="text" name="query_quantity_unit">
    </div>

    <div>
      <label for="notes_field">Notes</label>
      <textarea type="text" id="notes_field" name="query_notes"></textarea>
    </div>

    <input type="hidden" name="query_recipe_id" value="<%= @the_recipe.id %>">

    <button type="submit">
      Add Ingredient
    </button>
  </form>
</article>

<hr>
<article>
  <h1> Ingredients List</h1>
  <table>
    <thead>
      <tr>
        <th> Ingredient </th>
        <th> Quantity </th>
        <th> Notes </th>
      </tr>
    </thead>
    <tbody>
      <% @recipe_lines.each do |a_line| %>
        <% matching_ingredients = Ingredient.where({:id => a_line.ingredient_id})%>
        <% the_ingredient = matching_ingredients.at(0) %>
        <tr>
          <td><%= the_ingredient.name %></td>
          <td><%= a_line.quantity %> <%= a_line.quantity_unit %></td>
          <td><%= a_line.notes %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>

<hr>

<article>
  <header>
    <h2>
      Edit recipe overview
    </h2>
  </header>

  <form action="/modify_recipe/<%= @the_recipe.id %>"  method="post" >
    <div>
      <label for="name_box">
        Name
      </label>

      <input type="text" id="name_box" name="query_name" value="<%= @the_recipe.name %>">
    </div>

    <div>
      <label for="description_box">
        Description
      </label>

      <textarea type="text" id="description_box" name="query_description"><%= @the_recipe.description %></textarea>
    </div>

    <button type="submit">
      Update recipe details
    </button>
  </form>
</article>

<hr>
