<h1>
  Recipe line #<%= @the_recipe_line.id %> details
</h1>

<article>
  <div>
    <a href="/recipe_lines">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_recipe_line/<%= @the_recipe_line.id %>">
      Delete recipe line
    </a>
  </div>
  <dl>
    <dt>
      Ingredient
    </dt>
    <dd>
      <%= @the_recipe_line.ingredient_id %>
    </dd>

    <dt>
      Recipe
    </dt>
    <dd>
      <%= @the_recipe_line.recipe_id %>
    </dd>

    <dt>
      Quantity
    </dt>
    <dd>
      <%= @the_recipe_line.quantity %>
    </dd>

    <dt>
      Quantity unit
    </dt>
    <dd>
      <%= @the_recipe_line.quantity_unit %>
    </dd>

    <dt>
      Notes
    </dt>
    <dd>
      <%= @the_recipe_line.notes %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_recipe_line.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_recipe_line.updated_at) %> ago
    </dd>
  </dl>
</article>

<hr>


<article>
  <header>
    <h2>
      Edit recipe line
    </h2>
  </header>

  <form action="/modify_recipe_line/<%= @the_recipe_line.id %>"  method="post" >
    <div>
      <label for="ingredient_id_box">
        Ingredient
      </label>

      <input type="text" id="ingredient_id_box" name="query_ingredient_id" value="<%= @the_recipe_line.ingredient_id %>">
    </div>

    <div>
      <label for="recipe_id_box">
        Recipe
      </label>

      <input type="text" id="recipe_id_box" name="query_recipe_id" value="<%= @the_recipe_line.recipe_id %>">
    </div>

    <div>
      <label for="quantity_box">
        Quantity
      </label>

      <input type="text" id="quantity_box" name="query_quantity" value="<%= @the_recipe_line.quantity %>">
    </div>

    <div>
      <label for="quantity_unit_box">
        Quantity unit
      </label>

      <input type="text" id="quantity_unit_box" name="query_quantity_unit" value="<%= @the_recipe_line.quantity_unit %>">
    </div>

    <div>
      <label for="notes_box">
        Notes
      </label>

      <input type="text" id="notes_box" name="query_notes" value="<%= @the_recipe_line.notes %>">
    </div>

    <button type="submit">
      Update recipe line
    </button>
  </form>
</article>

<hr>
