<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>

    <li><a href="/lists">Grocery lists</a></li>

    <li><%= @the_list.name %></li>
  </ul>
</nav>

<h1>
  <%= @the_list.name %> details
</h1>

<article>
  <div>
    <a href="/lists">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_list/<%= @the_list.id %>">
      Delete list
    </a>
  </div>
  <dl>
    <dt>
      Name
    </dt>
    <dd>
      <%= @the_list.name %>
    </dd>

    <dt>
      Description
    </dt>
    <dd>
      <%= @the_list.description %>
    </dd>

    <dt>
      User
    </dt>
    <dd>
      <%= @the_list.user_id %>
    </dd>

    <dt>
      List lines count
    </dt>
    <dd>
      <%= @the_list.list_lines_count %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_list.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_list.updated_at) %> ago
    </dd>
  </dl>
</article>

<article>
  <header>
    <h2>
      Add ingredients to grocery list
    </h2>
  </header>

  <form action="/insert_list_line"  method="post" >
    <div>
      <label for="ingredient_field">
        Ingredient
      </label>

      <select id="ingredient_field" name="query_ingredient_id">
        <% Ingredient.all.each do |an_ingredient| %>
          <option value="<%= an_ingredient.id %>">
            <%= an_ingredient.name %>
          </option>
        <% end %>
      </select>
    </div>

    <div>
      <label for="quantity_field">
        Quantity
      </label>
      <input id="quantity_field" type="text" name="query_quantity">
    </div>

    <div>
      <label for="quantity_unit_field">
        Quantity Units
      </label>
      <select id="quantity_unit_field" name="query_quantity_unit">
        <option value="oz.">oz.</option>
        <option value="lb">lb</option>
        <option value="each">each</option>
      </select>
    </div>

    <div>
      <label for="notes_field">Notes</label>
      <textarea type="text" id="notes_field" name="query_notes"></textarea>
    </div>

    <div>
      <label for="in_stock_field">
        In stock
      </label>
      <input id="in_stock_field" type="checkbox" name="query_in_stock_flag" value="1">
    </div>

    <div>
      <label for="in_cart_field">
        In cart
      </label>
      <input id="in_cart_field" type="checkbox" name="query_in_cart_flag" value="1">
    </div>

    <input type="hidden" name="query_list_id" value="<%= @the_list.id %>">

    <div>
      <button type="submit">
        Add Ingredient
      </button>
    </div>
  </form>
</article>

<hr>
<article>
  <h1> Grocery list</h1>
  <form action="/update_list_lines/<%= @the_list.id %>" method="post">
    <table>
      <thead>
        <tr>
          <th> Ingredient </th>
          <th> Quantity </th>
          <th> Notes </th>
          <th> In stock </th>
          <th> In cart </th>
          <th> Actions </th>
        </tr>
      </thead>
      <tbody>
        <% @list_lines.each do |a_line| %>
          <% matching_ingredients = Ingredient.where({:id => a_line.ingredient_id})%>
          <% the_ingredient = matching_ingredients.at(0) %>
          <tr>
            <td><%= the_ingredient.name %></td>
            <td><%= a_line.quantity %> <%= a_line.quantity_unit %></td>
            <td><%= a_line.notes %></td>

            <td> 
              <input type="checkbox" name="in_stock_flag_<%= a_line.id %>" value="1" <%= "checked" if a_line.in_stock_flag %>>
            </td>
            <td> 
              <input type="checkbox" name="in_cart_flag_<%= a_line.id %>" value="1" <%= "checked" if a_line.in_cart_flag %>>
            </td>

            <td><a href="/delete_list_line/<%= a_line.id %>">Delete</a> <a href="/list_lines/<%= a_line.id %>/edit">Edit</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <button type="submit">Save checkbox changes</button>
  </form>
</article>
<hr>

<hr>
<article>
  <header>
    <h2>
      Edit grocery list overview
    </h2>
  </header>

  <form action="/modify_list/<%= @the_list.id %>"  method="post" >
    <div>
      <label for="name_box">
        Name
      </label>

      <input type="text" id="name_box" name="query_name" value="<%= @the_list.name %>">
    </div>

    <div>
      <label for="description_box">
        Description
      </label>

      <textarea type="text" id="description_box" name="query_description"><%= @the_list.description %></textarea>
    </div>

    <button type="submit">
      Update list details
    </button>
  </form>
</article>
<hr>
