<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails 8 Template" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- The official Pico CSS stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.css">

    <!-- The official Bootstrap utilities stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/twbs/bootstrap@main/dist/css/bootstrap-utilities.css">

    <!-- Our modifications to default Pico CSS styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/firstdraft/pico.firstdraft.css@latest/pico.firstdraft.css">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="pico">
    <header>
      <div class="container-two-thirds">
        <nav>
          <ul>
            <li>
              <a href="/">
                <strong>
                  Grocery Gadget
                </strong>
              </a>
            </li>
            <% if current_user == nil %>
              <li>
                <a href="/users/sign_in">Log in</a>
              </li>
              <li>
                <a href="/users/sign_up">Sign up</a>
              </li>
            <% else %>
              <li>
                <a href="/users/edit">Edit profile</a>
              </li>
              <li>
                <a href="/users/sign_out">Sign out</a>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="container-two-thirds">
        <div class="text-success">
          <%= notice %>
        </div>

        <div class="text-danger">
          <%= alert %>
        </div>
        <%= yield %>
      </div>
    </main>

    <footer class="text-center">
      AppDev 2025. All rights reserved.
    </footer>
  </body>
</html>
